@using MVC_STOCK.Models.Entity;
@model List<TBLPRODUCTS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th>
            <th>PRODUCT PRICE</th>
            <th>PRODUCT BRAND</th>
            <th>PRODUCT CATEGORY</th>
            <th>PRODUCT STOCK</th>
            <th>DELETE</th>
            <th>UPDATE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th>@product.PRODID</th>
                <td>@product.PRODNAME</td>
                <td>@product.PRICE</td>
                <td>@product.BRAND</td>
                <td>@product.TBLCATEGORIES.CATEGORYNAME</td>
                <td>@product.STOCK</td>
                <td><a href="/Product/DeleteProduct/@product.PRODID" class="btn btn-danger">DELETE</a></td>
                <td><a href="/Product/BringProduct/@product.PRODID" class="btn btn-success">UPDATE</a></td>

            </tr>

        }
    </tbody>
</table>
<a href="/PRODUCT/NewProduct/" class="btn btn-primary">ADD A NEW PRODUCT</a>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />
<script>
    $('#tbl1').DataTable();
</script>
